html { height: 100%; }
body { height: 100%; width: 100%;	background: #dddad6; font-family: 'Roboto', sans-serif; margin: 0;}
.logo {
	padding-top: 50px;
	padding-left: 230px;
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.logo_image {
	padding-top: 50px;
	padding-left: 50px;
	margin: auto;
	display: block;
}
.sign_button{
	padding-top: 30px;
	padding-left: 355px;
	display: block;
}

.wrapper {
	background: #dddad6;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.profile {
	max-width: 100%;
	background: #9ad3de;
}
.profile.image {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin: auto;
}
.profile.name{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 25px
}
.profile.email{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 15px
}
}
.information{
	background: #89bdd3;
	border: 4px solid white;
	flex: 0 0 60px;
	min-height: 60px;
}
.information li{
	float: right;
	flex: 0 0 60px;
	min-height: 60px;
}
.information a {
  text-decoration: none;
  display: block;
  padding: 1.2em;
  color: white;
}

.information li:hover {
  background: #7baabd;
  border-left: .1px solid white;
  border-right: .1px solid white;
}

@media all and (max-width: 800px) {
  .information {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .information {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .information a { 
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .information li:last-of-type a {
    border-bottom: none;
  }
}
.settings {
	background: #89bdd3;
	display: flex;
	margin: auto;
	margin-bottom: 0px;
	border-top: 4px solid white;
	flex-grow: 1;
}
.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	padding:7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	width: 150px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
.SideBar {
	flex: none;
	flex: 0 0 250px;
	border: 4px solid white;
	background : #89bdd3
}
.buttons {
	
}
.main {
	width: 100%;
	height: 100%;
	flex-grow: 1;
}
.flexColumn {
	height:100%;
	flex-direction: column;
	display: flex;
	overflow-y: auto;
}
.options {
	flex: 0 0 60px;
	min-width: 500px;
	background: #89bdd3;
	border: 4px solid white;
	border-left: none
}
.boptions {
	padding: 4px;
	
	flex-grow: 1;
}
.content {
	height: 100%;
}
.table{
}

.searchContainer {
	background: #dddad6;
	height: 50%;
	border-bottom: 5px white solid;
}
.searchContainer input {
	 width: 80%; height: 40px; 
	 border:solid 1px #ccc; 
	 padding: 5px 12px; 
}
.cssworkstuff{
	width: 315px;
	height: 315px;
	color: black;
	background: 150px 150px #ccc;

	

}
.font_size_acc_info{
	text-align: center;
}
	

.emailstuff{
	font-size: 15px;
	text-align:center;
	line-height: 30px;
	padding-bottom: 10px;

 }
 .title_text{
 	text-align:center;
 	font-size:20px;
 	font-weight: bold;
 	font-style: italic;
 	padding-top: 10px;
 	margin-bottom: 10px;

 }
 .meeting_schedule{
 	font-weight: bold;
 	text-align:left ;
 	font-size:25px;
 	font-style:italic;
 	padding-left:20px;


 }
 	 
 .text_styles{
 	font-size:17px;
 	text-align:left;
 	font-weight: normal;
 }
 
 .button2Buffer {
 	padding: 0 20px;
 	float: left;
 }

 .button2 {
   	padding: 0px 13px 2px; 
    border-radius:9px;
    border:solid 1px black; 
    
 }
 
 .button2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

     
}
.searchbar_2{
	width:90%; 
	height:35px; 
	padding-left:380px;
	border-radius: 15px;
	text-align: center;
	float: left;
}
.h1{
	font-weight: bold;
	font-size:50px;	
}


.menu {
	padding-left: 300px;
}
.menu a {
	display:block;
	float:left;
	color:rgb(38, 38, 38);
	font-weight:bold;	
	font-size: 18px;
	padding: 5px 0 15px;
	margin-right: 55px;
	text-decoration:none
}
.menu a.active {
	border-bottom:solid 5px #000000;
	padding:4px 0 2px;


}

.img_size{
	height:63px;
	padding-bottom:10px
}
.background_color{
	background:white;
	width:100%;
	height:100%
}
			
.yellowline{
	border:solid 3px yellow;
	margin-top: 60px;
	width:1299px;

}
/* The close button */
.closebtn {
	margin-left: 15px;
	margin-right: 5px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
	color: black;
}