body { display: flex;	background: #dddad6;}
.logo {
	padding-top: 50px;
	padding-left: 230px;
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}
.logo_image {
	padding-top: 50px;
	padding-left: 50px;
	margin: auto;
	display: block;
}
.sign_button{
	padding-top: 30px;
	padding-left: 355px;
	display: block;
}

.wrapper {
	background: #dddad6;
	width: 100%;
	height: 100%;
	min-width: 600px;
	margin: 0 auto;
	display: flex;
}
.profile {
	width: 25%;
	max-width: 100%;
	background: #9ad3de;
	display: flex;
}
.profile.image {
	padding-top: 10px;
	height: 100px;
	width: 100px;
	border-radius: 100px;
	margin: auto;
}
.profile.name{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 25px
}
.profile.email{
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	text-align: center;
	font-size: 15px
}
.sign_out {
	text-align: center;
	margin: auto;
}
.options{
	display: flex;
	width: 100%;
}
.information{
	background: #89bdd3;
	border: 4px solid white;
	width: 100%;
	max-height: 10%;
  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	  
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
}
.information li{
	margin: auto;
}
.information a {
  text-decoration: none;
  display: block;
  padding: 1.5em;
  color: white;
}

.information li:hover {
  background: #7baabd;
}

@media all and (max-width: 800px) {
  .information {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .information {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .information a { 
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .information li:last-of-type a {
    border-bottom: none;
  }
}