body {
	background: #dddad6;
}
.button	{
	position: absolute; 
	left: 45%;
}
.profile_display {
	background: #9ad3de; 
	width: 200px;
}
.prof_image	{
	padding-left: 50px; 
	padding-top: 5px;
}
.profile_image {
	border:1px solid #dddad6;
	border-radius:85px;
}
.name {
	position: relative;
	left: 25%;
	font-size:15px;
}
.Email {
	position: relative;
	left: 10%;
	font-size:10px;
	padding-bottom: 10px;
}